[submodule "thinkorswim-rs"]
	path = thinkorswim-rs
	url = git@github.com:brandonros/thinkorswim-rs.git
[submodule "robinhood-rs"]
	path = robinhood-rs
	url = git@github.com:brandonros/robinhood-rs.git
[submodule "tradingview-rs"]
	path = tradingview-rs
	url = git@github.com:brandonros/tradingview-rs.git
[submodule "backtester-rs"]
	path = backtester-rs
	url = git@github.com:brandonros/backtester-rs.git
[submodule "utilities-rs"]
	path = utilities-rs
	url = git@github.com:brandonros/utilities-rs.git
[submodule "candle-scraper-rs"]
	path = candle-scraper-rs
	url = git@github.com:brandonros/candle-scraper-rs.git
[submodule "options-scraper-rs"]
	path = options-scraper-rs
	url = git@github.com:brandonros/options-scraper-rs.git
[submodule "quote-scraper-rs"]
	path = quote-scraper-rs
	url = git@github.com:brandonros/quote-scraper-rs.git
